<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
          {% block title %}
            Project Under Development
          {% endblock %}
        </title>
        {% tailwind_css %}
  </head>

  <body>

      <!-- Include Header -->
      {% include 'Includes/headerSection.html' %}
      
      {% block content %}
                  <!-- Content will be dynamically inserted here -->
      {% endblock %}


      <!-- Include Footer -->
      {% include 'Includes/footerSection.html' %}

  </body>
</html>